In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
#Q1

data = [
    {"name": "Student 1", "maths": 85, "science": 78, "english": 92, "it": 88},
    {"name": "Student 2", "maths": 67, "science": 72, "english": 70, "it": 80},
    {"name": "Student 3", "maths": 91, "science": 89, "english": 94, "it": 96},
    {"name": "Student 4", "maths": 75, "science": 68, "english": 78, "it": 72},
    {"name": "Student 5", "maths": 82, "science": 81, "english": 86, "it": 79},
    {"name": "Student 6", "maths": 88, "science": 76, "english": 81, "it": 84},
    {"name": "Student 7", "maths": 93, "science": 88, "english": 95, "it": 91},
    {"name": "Student 8", "maths": 71, "science": 75, "english": 79, "it": 68},
    {"name": "Student 9", "maths": 77, "science": 82, "english": 84, "it": 83},
    {"name": "Student 10", "maths": 84, "science": 79, "english": 80, "it": 77},
]

subjects = ["maths", "science", "english", "it"]
subject_stats = {}
overall_marks = []

for subject in subjects:
    marks = [student[subject] for student in data]
    highest = max(marks)
    lowest = min(marks)
    average = sum(marks) / len(marks)
    subject_stats[subject] = {"highest": highest, "lowest": lowest, "average": average}

for student in data:
    overall_marks.append(student["maths"] + student["science"] + student["english"] + student["it"])

overall_highest = max(overall_marks)
overall_lowest = min(overall_marks)
overall_average = sum(overall_marks) / len(overall_marks)

print("Subject-wise statistics:")
for subject, stats in subject_stats.items():
    print(f"{subject.capitalize()} -> Highest: {stats['highest']}, Lowest: {stats['lowest']}, Average: {stats['average']:.2f}")

print("\nOverall statistics:")
print(f"Highest: {overall_highest}, Lowest: {overall_lowest}, Average: {overall_average:.2f}")

Subject-wise statistics:
Maths -> Highest: 93, Lowest: 67, Average: 81.30
Science -> Highest: 89, Lowest: 68, Average: 78.80
English -> Highest: 95, Lowest: 70, Average: 83.90
It -> Highest: 96, Lowest: 68, Average: 81.80

Overall statistics:
Highest: 370, Lowest: 289, Average: 325.80

In [2]:
#Q2


basic_salary = float(input("Enter the basic salary: "))


if basic_salary <= 10000:
    hra = basic_salary * 0.20
    da = basic_salary * 0.80
elif basic_salary <= 20000:
    hra = basic_salary * 0.25
    da = basic_salary * 0.90
else:
    hra = basic_salary * 0.30
    da = basic_salary * 0.95


gross_salary = basic_salary + hra + da


print(f"Gross Salary: {gross_salary:.2f}")

Gross Salary: 43000.00

In [5]:
#Q3

import re

def validate_password(password):
    if (6 <= len(password) <= 16 and
        re.search("[a-z]", password) and
        re.search("[A-Z]", password) and
        re.search("[0-9]", password) and
        re.search("[$#@]", password)):
        return "Valid Password"
    else:
        return "Invalid Password"

password = input("Enter a password: ")
print(validate_password(password))

Valid Password

In [6]:
#Q4


L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
L.remove(10)
L.remove(30)
L.sort()
L.sort(reverse=True)
print("Final -> ", L)

Final ->  [300, 200, 80, 70, 60, 50, 40, 20]

In [11]:
#Q5

D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}
D[6] = "Six"

D.pop(2)
print(6 in D)
print(len(D))
values_sum = " ".join(D.values())
print(values_sum)

True
5
One Three Four Five Six

In [12]:
#Q6

import random

numbers = [random.randint(100, 900) for _ in range(100)]
odd_numbers = [num for num in numbers if num % 2 != 0]
even_numbers = [num for num in numbers if num % 2 == 0]

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in numbers if is_prime(num)]

print(odd_numbers)
print(even_numbers)
print(prime_numbers)

[333, 579, 659, 663, 509, 207, 201, 713, 481, 627, 693, 211, 879, 165, 171, 153, 861, 309, 851, 129, 599, 547, 775, 569, 585, 655, 557, 597, 621, 663, 169, 781, 199, 187, 825, 487, 325, 717, 287, 169, 719, 167]
[740, 488, 622, 898, 222, 840, 740, 870, 448, 252, 356, 450, 874, 150, 396, 682, 466, 124, 378, 142, 586, 506, 484, 218, 408, 554, 452, 832, 538, 780, 794, 898, 328, 518, 380, 688, 316, 780, 130, 392, 370, 650, 732, 846, 410, 194, 224, 598, 584, 262, 716, 350, 838, 240, 132, 556, 244, 670]
[659, 509, 211, 599, 547, 569, 557, 199, 487, 719, 167]

In [3]:
#Q7

def compound_interest(principal, rate, time):
    amount = principal
    for _ in range(time):
        amount += amount * (rate / 100)
    return amount


principal = 10000
rate = 5
time = 2


total_amount = compound_interest(principal, rate, time)
ci = total_amount - principal


print("Principal:", principal)
print("Rate of Interest:", rate)
print("Time:", time)
print("Compound Interest:", round(ci, 2))
print("Total Amount:", round(total_amount, 2))

Principal: 10000
Rate of Interest: 5
Time: 2
Compound Interest: 1025.0
Total Amount: 11025.0

In [13]:
#Q8

class Restaurant:
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type

    def describe_restaurant(self):
        print(self.restaurant_name, self.cuisine_type)

    def open_restaurant(self):
        print("The restaurant is open")

restaurant = Restaurant("Pizza Palace", "Italian")
print(restaurant.restaurant_name)
print(restaurant.cuisine_type)
restaurant.describe_restaurant()
restaurant.open_restaurant()

Pizza Palace
Italian
Pizza Palace Italian
The restaurant is open